################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/3DDXProject/v15
/3DTP/Debug
/Debug
